.card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  border-radius: 12px;
  width: 230px;
  height: 70px;
  margin: 20px;
  padding: 10px;
}
.card-heading {
  margin: 0px;
  font-size: 30px;
}
.card-description {
  margin: 0px;
  font-weight: 600;
  margin-top: 8px;
}
